        #miracle-grow-gradient {
            background: -webkit-linear-gradient(90deg, #b6eae1 10%, #D2FBAD 90%); /* Chrome 10+, Saf5.1+ */
            background: -moz-linear-gradient(90deg, #b6eae1 10%, #D2FBAD 90%); /* FF3.6+ */
            background: linear-gradient(90deg, #b6eae1 10%, #D2FBAD 90%); /* W3C */
        }

        .container {
            width: 33%;
            max-width: 500px;
            margin: auto;
            vertical-align: middle;
        }
